/* Navigation bar */
.navbar {
    background-color: #f8f9fa;
    /* light gray */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-nav {
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #333;
    /* dark gray */
}

.nav-link:hover {
    background-color: #c6c6c6;
    /* light gray */
    border-radius: 40px;
}

/* Home page content */
.container {
    background-color: #fff;
    /* white */
}

h2 {
    color: #333;
    /* dark gray */
    margin-bottom: 20px;
}

input[type="file"]+label {
    color: #fff;
    /* white */
    background-color: #007bff;
    /* blue */
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

input[type="file"]:focus+label {
    outline: none;
}

.latest-image {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}