.fx-not-found-container {
    background-color: #000000;
    padding-top: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fx-not-found-logo {
    margin-bottom: 40px;
    width: 395px;
}

.fx-not-found-text {
    font-size: 16px;
    color: #dddddd;
    margin-left: 60px;
}