<div class="container">
    <app-navbar></app-navbar>
    <section class="banner" [ngStyle]="{'background-image': 'url(' + bannerImageUrl + ')'}">
        <h2>Welcome to the Artists Gallery</h2>
    </section>
    <section class="content">
        <h3>Featured Artworks</h3>
        <div class="grid">
            <div class="grid-item" *ngFor="let artwork of artworks">
                <img [src]="artwork.imageUrl">
                <p>{{artwork.title}}</p>
            </div>
        </div>
    </section>
</div>